*.png
*.pdf
*.csv
*.svg
*.eps
*.json
*.o
*:Zone.Identifier
*.h5
*.code-workspace
.ipynb_checkpoints
__pycache__

.idea/
venvs/

psych_code/results/
psych_code/deployed_experiments/
psych_code/deploy_logs/
psych_code/images/
psych_code/psych_data/
psych_code/stretch_squeeze_psych_modules.egg-info

data/
psych_data/

notebooks/fig_outputs/
notebooks/heatmap_viz/

repo2file/